[Unit]
Description=python lvm docker plugin
Conflicts=getty@tty1.service
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/venvs/docker-lvmpy/
ExecStart=/opt/venvs/docker-lvmpy/bin/lvmpy
EnvironmentFile=/etc/docker-lvmpy/docker-lvmpy.conf
Restart=no
KillSignal=SIGINT
NotifyAccess=all

[Install]
WantedBy=multi-user.target
