[Unit]
Description=python lvm docker plugin
Conflicts=getty@tty1.service
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/docker-lvmpy/
ExecStart=/opt/docker-lvmpy/venv/bin/python3 app.py
EnvironmentFile=/etc/docker-lvmpy/lvm-environment
Restart=on-failure
KillSignal=SIGINT
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
